<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnTheMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A551323F1C1D58EC00AB40D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A55132551C1D58EC00AB40D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A55132601C1D58EC00AB40D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
